// Components (or modules): holds all of your styles for buttons, carousels, sliders, and similar page components (think widgets). 
// Your project will typically contain a lot of component files — as the whole site/app should be mostly composed of small modules.

// Buttons
// Carousel
// Slider
// etc.

// Container

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1200px) {
        width: 1170px;
    }
}

// Buttons
.iltlc-btn {
    color: $primary-color;
    width: auto;
    font-size: 1rem;
    border-radius: 0;
    border: 1px solid $primary-color;
    font-weight: 400;
    text-transform: capitalize;

    &:hover {
        color: white;
        background-color: $primary-color;
    }

    @media (min-width: 768px) {
        width: 200px;
        height: 50px;
        font-size: 1.5rem;
    }
}

.btn-secondary {
    @extend .iltlc-btn;
    color: white;
    background-color: $primary-color;

    &:hover {
        color: $primary-color;
        background-color: white;
    }
}

// Menus
.iltlc-menu-horizontal {
    border-bottom: none !important;
}

.iltlc-menu-inline {
    border-right: none !important;
}

// Row
.row-with-margin-bottom {
    margin-bottom: 3rem;

    @media (min-width: 768px) {
        margin-bottom: 5rem;
    }

    &.bg-color {
        background-color: $background-div-color;
    }
}