.profile-image {
    margin-bottom: 3rem;

    @media (min-width: 1200px) {
        margin-bottom: 0;
    }

    &__photo {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}